main {
  padding: 15px;
}

.card {
  display:inline-block;
  width: 6vw;
  height: 6vw;
  min-width: 50px;
  min-height: 50px;
  max-width: 80px;
  max-height: 80px;
  margin: 5px;
  perspective: 1000px;

  &.flipped .card-wrapper {
    transform: rotateY(180deg);
  }

  .card-wrapper {
    position: relative;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
  }

  .side {
    position: absolute;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .front {
    background: #F44336;
  }
  .back {
    transform:rotateY(180deg);
    background: #3f51b5;
  }
}

#board {
  margin: 0 auto;
  text-align: center;
}

#timer, #board-size {
  font-size: 16px;
}

#status {

}

/* Mixins */
$skills: ('bootstrap', 'css3', 'git', 'gulp', 'heroku', 'html5', 'javascript', 'jquery', 'linux', 'materialui',
          'mysql', 'nodejs', 'npm', 'php', 'react', 'sass', 'stackoverflow', 'zend');

@mixin cardImg($name) {
  background-image: url('/images/#{$name}.png');
}
.card .back {
  background-size: contain;
   @each $skill in $skills {
     &.#{$skill} {
       @include cardImg($skill);
     }
   }
}